=content_for :title, (t 'editlogin')
.container-fluid
  .form-wrapper.pb-2.mb-5
    =render 'devise/registrations/form', titleheading: (t 'editlogin'), buttoncaption: (t 'update'), debouncecaption: (t 'updating'), passwordcaption: (t 'newloginpwd'), tooltip: (t 'leavepwdblank')

  .text-center
    = link_to (t 'back'), :back
