=content_for :title, (t 'editlisting')
.form-wrapper.w-75
  %h3.text-center.mb-5 
    =t ('editlisting')

  = render 'form', buttoncaption: (t 'update'), debouncecaption: (t 'updating')

.text-center
  = link_to (t 'show'), @listing
  \|
  = link_to (t 'back'), :back
