= content_for :title, "Crear un anuncio"
.form-wrapper.w-75

  %h3.text-center.mb-5 Publica tu anuncio

  = render 'form', buttoncaption: 'Publica mi anuncio', debouncecaption: 'Publicando...'

.text-center
  = link_to 'Regresar', listings_path
