= content_for :title, (t 'createad')
.form-wrapper.w-75

  %h3.text-center.mb-5 
    =t 'publishad'

  = render 'form', buttoncaption: (t 'publishmyad'), debouncecaption: (t 'publishing')

.text-center
  = link_to (t 'back'), listings_path
