=content_for :title, (t 'showlisting')

.listing-wrapper

  .card.mt-3
    .card-header.bg-lightgrey.mb-0
      %h5.card-title.text-center
        = @listing.title
            
    .card-body
      .text-justify
        = @listing.description
      -if @listing.image.attached?
        =image_tag @listing.image, class: 'img-fluid mt-4'


.text-center
  = link_to (t 'edit'), edit_listing_path(@listing)
  \|
  = link_to (t 'back'), listings_path
