= content_for :title, (t 'aboutus')
.page-wrapper

  %p.pb-2 
    =t'aboutp1'

  %p.pb-2
    =link_to (t 'advertisehere'), new_listing_path
    =t 'ifyouhavesomething' 
    =link_to (t 'checkhere'), root_path 
    =t 'incasesomething'

  %p
    =t 'rules'

  %ol

    %li.pb-2
      =t 'rule1'

    %li.pb-2
      =t 'rule2'

    %li
      =t 'rule3'
      

