= render 'layouts/carousel'

.container-fluid.px-5
  
  
  %ul#pills-tab.nav.nav-pills.justify-content-end.my-3{:role => "tablist"}
    %li.nav-item
      %a#pills-list-tab.nav-link.active{"aria-controls" => "pills-list", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-list", :role => "tab"} 
        %i.fa.fa-list
    %li.nav-item
      %a#pills-grid-tab.nav-link{"aria-controls" => "pills-grid", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-grid", :role => "tab"} 
        %i.fa.fa-th

  #pills-tabContent.tab-content
    #pills-list.tab-pane.fade.show.active{"aria-labelledby" => "pills-list-tab", :role => "tabpanel"}
      =render 'listings/list-display'
    #pills-grid.tab-pane.fade{"aria-labelledby" => "pills-grid-tab", :role => "tabpanel"}
      = render 'listings/grid-display'