%p
  =(t 'contactmsg.hello') + ", " + @user.firstname + ","


%p
  =t 'contactmsg.someoneinterested'
  "
  =@listing.title
  " 
  = t'contactmsg.sentyoumessage'

%hr
%p
  %strong
    =t 'contactmsg.theirname'  |
  =@contactmsg.name

%p
  %strong
    =t 'contactmsg.theiremail' |
  =@contactmsg.email

%p
  %strong
    =t 'contactmsg.theirmsg' 
  =@contactmsg.message

%hr
%p
  =t 'contactmsg.plsgetintouch'
  %strong
    =@contactmsg.email
  ='.' 
%br    
%p
  =t 'contactmsg.bye'

%p
  = t 'contactmsg.tlacuachesig' |
  = link_to "El Tlacuache", 'https://www.tlacuache.org'