Hola, 
=@user.email

A alguien le interesa tu anuncio "
=@listing.title
" y te mando este mensaje:

Nombre: 
=@contactmsg.name

Mensaje: 
=@contactmsg.message

Por favor ponte en contacto con ellos respondiendo a este mensaje o 
escribiendoles directamente a 
=@contactmsg.email

This is a test of the listing contact email thank you.