$theme-colors: (
   orange: #ff533d,
   green: #0bb688,
   blue: rgba(21, 5, 253, 0.667)
);

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');



/****************************************************************************
*Colors
****************************************************************************/

.bg-black
{
  background-color: #292a2d;
}

.bg-grey
{
  background-color: #474747; 
}

.bg-midgrey
{
  background-color: #686868;
}

.bg-lightgrey
{
  background-color:  #dbdada;
}

.bg-blue
{
  background-color: rgba(21, 5, 253, 0.667)
}

.btn-green
{
  @include button-variant(#0bb688, #0bb688, #02be96, #444, #333, white);
  color:#fff;
}

.btn-light
{
  @include button-variant(#f8f9fa, #f8f9fa, #212529)
  color: #212529;
}





/****************************************************************************
*The Navbar
****************************************************************************/
.top 
{
  min-height: 80px;
}

.navbar-dark .navbar-nav .nav-link
{
  color: #dee2e4;
}

.navbar-dark .navbar-nav .nav-link:hover
{
  color: white;
}

.navbar-dark .navbar-nav .nav-link.btn.btn-light
{
  color:#212529;
}

.navbar-dark .navbar-nav .nav-link.btn.btn-light:hover
{
  color: white;
}

.ldropdown
{
  font-size: 0.8em;
  padding-top: 3px;
  padding-left: 10px;
}






/****************************************************************************
*The Carousel
****************************************************************************/
#mainslider
{
  margin-top: 1px;
}

#mainslider .carousel-item
{
  max-height: 645px;
}

.carousel-item.t10 > img 
{
  transform: translate(0, -10%);
}


.caption1
{
  top: 33%;
  left: auto;
  text-align: center;
  width: 65%;
}
.caption1 h1
{
  font-family: Arial;
  background: rgba(8, 18, 9, 0.3);
  font-size: 3vw;
}

.caption2
{
  top: 30%;
  left: 60%;
  text-align: left;
  width: 34%;

}

.caption2 h1
{
  font-family: Impact;
  font-size: 3.5vw;
  background: rgba(188, 188, 247, 0.5);
  color: rgb(7, 7, 8);
  opacity: 0.7;
  padding: 10px;
}

.caption3
{
  top: 2%;
  left: 60%;
  text-align: left;
  width: 34%;

}

.caption3 h1
{
  font-style: italic;
  font-size: 2.7vw;
  background: rgba(231, 231, 240, 0.3);
  color: #474747;
  padding: 10px;
}

.caption4
{
  top: 30%;
  left: 0%;
  text-align: center;
  width: 100%;

}

.caption4 h1
{
  font-size: 2.5vw;
  font-family: Lato, Helvetica;
  background: rgba(0, 0, 0, 0.3);
  color: white;
}


/******************************************************************************
* Wrappers and containers
******************************************************************************/

.page-wrapper
{
  width: 90%;
  margin: 20px auto;
  margin-top: 50px !important;
  background-color: #fff;
  padding: 20px 40px 40px 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
  text-align: justify;
}

.form-wrapper 
{
  width: 60%;
  margin: 20px auto;
  margin-top: 50px !important;
  background-color: #fff;
  padding: 20px 40px 40px 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.listing-wrapper
{
  width: 90%;
  margin: 20px auto;
  margin-top: 20px !important;
  background-color: #fff;
  padding: 20px 40px 40px 40px;
  text-align: center;
}

/******************************************************************************
* Headers/Banners, Footers, links
******************************************************************************/

.banner
{
  margin-top: 1px;
  background-image: url('titlebanner.jpeg');
  background-size: cover;
  background-position: 0% 51%;
  height: 150px;
}

.bannerheading
{
  color: #fff;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  //background: rgba(8, 18, 9, 0.3);
}


.midfooter
{
  padding: 60px 40px;
  background-color: #171919;
  color: white;
}

.midfooterblock
{
  padding: 0px 50px;
}

.midfooter .block-title
{
  color: #17aecb;
}

.block-body
{
  text-align: justify;
  font-size: 0.9em;
}

.block-body a svg 
{
  color: white;
}

.bottom
{
  position: relative;
  bottom: 0;
  width: 100%;
}
.bluebg
{
    background-color: #5F94C3;
}

/******************************************************************************
* Images
******************************************************************************/
.list-image
{
  max-width: 200px;
}

.card-img-top
{
  max-height: 195px;
}

/****************************************************************************
*Index Nav Tab Pills
****************************************************************************/
.fixed-navpills
{
  margin-top: -69px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 6px;
}

.largerpill
{
  padding: 14px 24px;
  margin-left: -4px;
  border-right: 1px solid #eee;
  /*font-family: Montserrat;
  font-size: 18px;*/
  
}

.small-navpills
{
  border: 1px solid #eee;
  border-radius: 5px;
}

.smallerpill
{
  border-right: 1px solid #eee;
}


/*******************************************************************************
* Miscellaneous
********************************************************************************/@at-root
.field_with_errors
{
  display:inline;
  width:calc(100% - 30px;);
  input 
  {
    border:1px solid var(--danger);
  }
}

.alert
{
  margin-bottom: 0px;
  margin-top: 1px;
}

.profileheader
{
  padding:0px;
  margin: 0px;
  text-color: white;
}

.lead
{
  //font-size: 1.1em;
}

/***************************************************************************
* Responsive
*****************************************************************************/
@include media-breakpoint-down(sm)

{
  .listing-wrapper
  {
    padding: 5px;
    margin-top: 5px !important;
  }
}