%footer.bottom.bg-midgrey
  %nav.navbar.navbar-dark.navbar-expand.mt-0
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to "Help", "#", class: 'nav-link'
      %li.nav-item
        = link_to "About", "#", class: 'nav-link'
      %li.nav-item
        = link_to "Terms of Service", "#" , class: 'nav-link'
