.container-fluid.px-0
  .midfooter
    .row
      .col-md-4.midfooterblock
     
        %h5.block-title
          =t 'searcher'
        %p.block-body
          Here goes something

        %h5.block-title.mt-5.mb-3
          =t 'followus'
        %p.block-body
          =link_to '<i class = "fab fa-facebook fa-2x mr-3"></i>'.html_safe, GENERALCFG['socialmedia']['facebook']
          =link_to '<i class = "fab fa-twitter fa-2x mr-3"></i>'.html_safe, GENERALCFG['socialmedia']['twitter']
          =link_to '<i class = "fab fa-instagram fa-2x"></i>'.html_safe, GENERALCFG['socialmedia']['instagram']
      
      .col-md-4.midfooterblock
        %h5.block-title
          =t 'dontthrowit'
        %p.block-body
          =t 'wanttohelp'
          =link_to (t 'advertisehere'), new_listing_path
          =t 'toseeif'
       
      .col-md-4.midfooterblock
        %h5.block-title
          =t 'latesttweets'
        %p.block-body
          <a class="twitter-timeline" data-width="400" data-dnt="true" data-height="300" data-theme="dark" href="https://twitter.com/TlacuacheOrg?ref_src=twsrc%5Etfw">Tweets by TlacuacheOrg</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>