= content_for :navlinks do
    %li.nav-item
    = link_to "Log In", '#', class: 'nav-link'
    %li.nav-item
    = link_to "Register", "#", class: 'nav-link'
    %li.nav-item
    = link_to '<i class = "fa fa-plus-circle mr-2"></i>ANUNCIATE AQUI'.html_safe, "#", class: 'nav-link btn btn-green'
